.intro__list {
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Inter';
  line-height: 18px;
  font-size: 12px;
  font-style: normal;
  list-style-type: none;
  font-weight: bold;
}

/*тут сделано чтобы цифры в списке были не жирными*/
.intro__list > li span {
  font-weight: normal;
}