.cover__subtitle {
  width: 360px;
  margin: 0 auto;
  color: white;
  font-family: 'Inter', 'Corbel', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 122%;
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    width: 280px;
    line-height: 114%;
    font-size: 14px;
  }
}