.footer__link {
  color: white;
  font-family: 'Inter', 'Corbel', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 112%;
  font-size: 16px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .footer__link {
    line-height: 100%;
    font-size: 24px;
  }
}