.footer__link {
  margin: 0 18px 0 0;
  color: white;
  font-family: 'Inter-Light';
  line-height: 112%;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .footer__link {
    margin: 0 0 32px;
    line-height: 100%;
    font-size: 24px;
  }

  .footer__link:last-of-type {
    margin-bottom: 48px;
  }
}