.cover {
  width: auto;
  height: 740px;
  margin: 0 48px 92px;
  position: relative;
}

@media screen and (max-width: 1279px) {
  .cover {
    height: 640px;
    margin: 0 0 92px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    height: 480px;
    margin: 0 0 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    height: 200px;
    margin: 0 0 64px;
  }
}