.cover__title {
  width: 560px;
  margin:0 auto 32px;
  padding:0;
  position: absolute;
  top: 245px;
  left: 0;
  right: 0;
  color: white;
  font-family: 'Inter';
  line-height: 106%;
  font-size: 72px;
  font-style: normal;
  text-align: center;
  outline: 1px gray solid;
}