.intro__title {
  width: 100%;
  margin: 0 0 40px;
  color: white;
  font-family: 'Inter-Black';
  line-height: 58px;
  font-size: 54px;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .intro__title {
    width: 80%;
    line-height: 109%;
    font-size: 32px;
  }
}